<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Instagram AccessToken</title>

<body>

  <section style="width:300px;margin:30px auto 0 auto;border-radius:10px;background-color:#ffc;height:120px;padding-top:90px;text-align:center">
    <a href="/auth/instagram">Login with Instagram</a>
  </section>