<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Instagram AccessToken</title>

<body>

  <section style="width:400px;margin:30px auto 0 auto;border-radius:10px;background-color:#ffc;height:170px;padding-top:40px;text-align:center">
    Hi, <%= name %> (<%= login %>)
    <br><br>your access token is<br><b><%= token %></b>
    <br><br>your id is<br><b><%= id %></b>
  </section>